* {
   margin: 0px;
}
body {
   margin: 16px;
}
.p-tag {
   font-size: 20px;
   color: gray;
}
/* header style */
.banner {
   background-image: linear-gradient(rgba(0, 0, 0, 0.651), rgba(0, 0, 0, 0.726)), url("../img/Banner\ Image.png");
   height: 100%;
   width: 1300px;
   background-repeat: no-repeat;
   margin: 0px auto;
   border-radius: 20px;
}
.h4-text {
   font-size: 28px;
   color: white;
   text-align: center;
   padding-top: 240px;
}
.banner-title {
   font-size: 90px;
   color: white;
   text-align: center;
   padding-bottom: 220px;
}
.Celebration-text {
   color: deeppink;
}
/* discount-section */
.discount-section {
   text-align: center;
   margin: 120px 0px;
}
.text-off {
   color: red;
   font-size: 120px;
}
.holiday {
   color: red;
   font-size: 22px;
}
.categories {
   font-size: 50px;
   margin: 20px 0px;
   font-weight: 700;
}
/* midnight-party */
.midnight-party {
   background-image: linear-gradient(rgba(0, 0, 0, 0.651), rgba(0, 0, 0, 0.726)), url("../img/Vectorrr.png");
   height: 100%;
   width: 1300px;
   background-repeat: no-repeat;
   margin: 0px auto;
   border-radius: 20px;
   display: flex;
   margin-bottom: 50px;
}
.midnight-position {
   padding: 90px 0px 100px 90px;
   color: white;
}
.party-text {
   font-size: 90px;
   text-align: left;
}
.new-year-img {
   padding: 40px 30px 30px 100px;
}
.party-btn {
   padding: 10px 15px;
   background-color: deeppink;
   color: white;
   font-size: large;
   border-radius: 10px;
   margin-top: 20px;
   border: 0px;
}
.party-btn:hover {
   color: black;
   background-color: crimson;
}
.hotel-card {
   height: 100%;
   width: 1300px;
   text-align: center;
   padding: 80px 0px 200px 0px;
   margin: 0px auto;
   border-radius: 20px;
   border: 0px;
   box-decoration-break: slice 40px;
   background-color: rgba(165, 42, 42, 0.164);
   background-image: url();
   -webkit-mask-image: linear-gradient(to top, transparent 40%, rgba(255, 0, 0, 0.651) 55%);
   mask-image: linear-gradient(to top, transparent 20%, rgb(255, 0, 0) 55%);
}
.hotel {
   font-size: 30px;
}
.place {
   color: red;
   font-size: 30px;
}

/* NEW BEST OFFER */
.best-offer {
   height: 100%;
   width: 1300px;
   display: grid;
   margin: 0px auto;
   grid-template-columns: repeat(3, 1fr);
   align-items: center;
   gap: 30px;
}
.offer-title {
   font-size: 50px;
   font-weight: 700;
}
.new-best-offer {
   color: red;
}
.img-ellipse {
   border: 16px solid red;
   padding: 20px;
   border-radius: 50%;
}
.year-img {
   text-align: start;
   margin-left: 40px;
}
.year {
   color: red;
   font-size: 50px;
   margin-bottom: 15px;
}
.img-group-96 {
   width: 90px;
}
/* Holidays Sale 50% */
.flash-sale-section {
   height: 100%;
   width: 1300px;
   margin: 0px auto;
}
.flash-sale-div {
   text-align: center;
   margin: 70px 0px;
}
.flash {
   font-size: 20px;
}
.flash-title {
   font-size: 100px;
   margin: 20px 0px;
}
.discount {
   width: 1300px;
   margin: 0px auto;
   border-radius: 20px;
   display: flex;
}
.discount-img-position {
   position: relative;
   width: 220px;
}
.discount-img {
   padding-top: 40px;
}
.layout {
   margin-right: 40px;
   /* margin-bottom: -0px; */
   margin-bottom: 260px;
}
.red-img {
   position: relative;
   margin-top: -80px;
   height: 20px;
   border-radius: 20px;
}
.gift {
   width: 671px;
}
/* Our Awesome Portfolio */
.body-section {
   height: 100%;
   width: 1300px;
   margin: 0px auto;
}
.grid-section {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 20px;
}
.pp {
   padding: 20px 0px;
}
.subscribe {
   height: 100%;
   width: 1300px;
   margin: 30px auto;
   border-radius: 15px;
   background-color: rgba(255, 0, 0, 0.164);
   text-align: center;
   padding: 80px 0px;
}
.subscribe-title {
   font-size: 40px;
   font-weight: 700;
}
.input-text {
   height: 40px;
   width: 400px;
   border-radius: 10px;
   padding-left: 10px;
   border: 0px;
}
.footer-fast-layout {
   display: flex;
   justify-content: space-between;
   color: white;
   margin-bottom: 30px;
}
.footer {
   height: 100%;
   width: 1200px;
   border-radius: 20px;
   margin: 0px auto;
   background-color: black;

   padding: 60px 60px;
}
.footer-img-box {
   display: flex;
   justify-content: center;
   gap: 10px;
   margin: 32px 0px;
}
.footer-bottom {
   display: flex;
   justify-content: space-between;
   margin: 20px;
   color: white;
}
.icon {
   display: flex;
   gap: 10px;
   align-items: center;
   margin-bottom: 8px;
}
